body {
    background-color: rgb(250, 250, 250);
    margin: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
}
.container {
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: space-evenly;
}
.insta-phone {
    width: 50%;
    display: flex;
    justify-content: center;
}
.insta-phone img {
    height: 50rem;
}
.insta-content {
    width: 50%;
    min-height: 34rem;
    display: flex;
    flex-direction: column;
}
.insta-box {
    background-color: white;
    border: 1px solid rgb(219, 219, 219);
    border-radius: 1px;
}
.insta-login {
    display: flex;
    min-height: 19rem;
    padding: 1.0rem 0;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.logo {
    margin: 15px auto 12px;
}
.profile-picture {
    border-radius: 50%;
    height: 6rem;
    margin-top: 8px;
    margin-bottom: 16px;
}
.btn {
    border: none;
    background-color: #0095f6;
    color: white;
    font-weight: 600;
    font-size: 13px;
    padding: 8px;
    border-radius: 4px;
}
.btn:hover {
    cursor: pointer;
}
.remove {
    margin: 10px
}
.insta-signup {
    width: 100%;
    margin: auto;
    text-align: center;
}
.p-signup {
    color: rgb(142, 142, 142);
    font-size: 14px;
    margin: 15px;
}
.p-get {
    color: rgb(38, 38, 38);
    font-size: 14px;
    margin-bottom: 19px;
}
.insta-app {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.insta-app img {
    height: 40px;
}
.blue-link {
    color: rgb(0, 149, 246);
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    text-decoration: none;
}